include header.pug
main
  .container
    #wizard_container
        //
            form#wrapped(name='example-1', method='POST')
                input#website(name='website', type='text', value='')
        #middle-wizard
          .step(data-state='branchtype')
            .question_title(id="poll_" + poll.id)
              h3 #{poll.question}
              p #{poll.description}
            .row.justify-content-center
              each answer in poll.answers
                  .col-lg-4
                    .item
                      input.required(id='answer_' + answer.id, type='radio', name='answer', value=answer.id)
                      label(for='answer_' + answer.id)
                        if answer.image
                            img(src='/img/uploads/' + answer.image, alt='')
                        strong #{answer.answer}
                        p(style='margin-bottom:0') #{answer.description}

        #bottom-wizard
          button.forward(type='button', name='forward') Valider
          
        script.
            let pollId = #{poll.id};
        script(src='/js/poll.js')

include footer.pug
